body {
    background-color: #f3f1f7;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    color: #03a9f4;
    margin: auto
}

posts {
    background-color: #fff;
    border: #000 solid 2px;
    border-radius: 25px;

}

.post {
    background-color: #fff;
    border: #000 solid 2px;
    border-radius: 25px;

    margin: 20px;
    padding: 10px;
}

input {
    margin: 5px;
}

.modal.hidden {
    display: none;
}

.modal.visible {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    z-index: 1010;
    display: flex;
    /* width: 50%;
    height: 50%;
    padding: 20px; */
    border: #000 solid 2px;
    /* border-radius: 25px; */
}

.new-thought-btn {
    background-color: #03a9f4;
    width: 100%;
    height: 30;
    border: #000 solid 2px;
    border-radius: 25px;

}


form {
    display: flex;
    flex-direction: column;
    background-color: #79c5e8;
    align-items: center;
}